includes:
    - phar://phpstan.phar/vendor/pepakriz/phpstan-exception-rules/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/rules.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src

    exceptionRules:
        uncheckedExceptions:
            - LogicException
            - Nette\InvalidStateException

    ignoreErrors:
        -
            message: '#Parameter \#1 \$mapping \(array<array<string>\|string>\) of method Nepada\\PresenterMapping\\PresenterFactory::setMapping\(\) should be contravariant#' # false positive
            path: %currentWorkingDirectory%/src/PresenterMapping/PresenterFactory.php
